<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規プロトタイプ投稿</h2>
        <%= render partial: "form", locals: { prototype: @prototype }%>
        <%# _form.html.erbを部分テンプレートで呼び出し,パーシャル内のprototypeに@prototypeを格納する %>
    </div>
  </div>
</div>